/* the custom style sheet */

.image { 
	text-align:center;
}


.image > h2 { 
   margin: 0px 0px;
   position: absolute; 
   top: 50px; 
   font-size: 65px;
   width:100%;
   line-height:100%;
   text-align:center;
   vertical-align: middle;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

